<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @shirt.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @shirt.size %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
